* {
  margin: 0;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/*    HEADER    HEADER    */
.gridContainerHeader {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: "Header";
}
.gridContainerHeader header {
  background-color: rgb(20, 18, 18);
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
}
.gridContainerHeader header .contenedorBarra {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.gridContainerHeader header .contenedorBarra img {
  height: 85px;
  padding-left: 5px;
  transition: height 0.5s;
}
.gridContainerHeader header .contenedorBarra img:hover {
  height: 90px;
}
.gridContainerHeader header .contenedorBarra ul {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}
.gridContainerHeader header .contenedorBarra ul li a {
  display: flex;
  justify-content: end;
  text-decoration: none;
  padding: 15px;
  color: gray;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.gridContainerHeader header .contenedorBarra ul li a:hover {
  color: rgba(118, 19, 248, 0.8235294118);
  font-size: 30px;
}
.gridContainerHeader header .contenedorBarra label i {
  display: none;
  margin-right: 15px;
}

#btn-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  #btn-menu {
    display: none;
  }

  .gridContainerHeader header .contenedorBarra label {
    display: flex;
    align-items: center;
  }
  .gridContainerHeader header .contenedorBarra label i {
    display: flex;
    color: rgba(118, 19, 248, 0.8235294118);
    font-size: 45px;
    cursor: pointer;
  }

  .gridContainerHeader header .contenedorBarra ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 95px;
    left: -100%;
    background: rgb(20, 18, 18);
    width: 100%;
    height: 100vh;
    right: 0;
  }
  .gridContainerHeader header .contenedorBarra ul li {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .gridContainerHeader header .contenedorBarra ul li :last-child {
    padding: 2rem;
  }
  .gridContainerHeader header .contenedorBarra ul li .contacto {
    display: none;
  }

  #btn-menu:checked ~ ul {
    left: 0;
    transition: all 0.5s;
  }
}
/*    FOOTER    FOOTER    */
.gridContainerFooter {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: "Footer";
}
.gridContainerFooter footer {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gridContainerFooter footer h3 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 50px;
  font-weight: normal;
  margin-bottom: 40px;
}
.gridContainerFooter footer ul {
  margin: 30px;
  list-style: none;
  padding: 0;
}
.gridContainerFooter footer ul li {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
}
.gridContainerFooter footer .booking {
  color: white;
}
.gridContainerFooter footer .booking li a {
  color: white;
}
.gridContainerFooter footer .booking li a:hover {
  color: rgba(118, 19, 248, 0.8235294118);
}
.gridContainerFooter footer div {
  text-align: center;
}
.gridContainerFooter footer div a {
  color: black;
}
.gridContainerFooter footer div a i {
  color: gray;
  font-size: 30px;
  padding: 15px;
  padding-bottom: 50px;
  transition: font-size 0.5s;
}
.gridContainerFooter footer div a i:hover {
  color: rgba(118, 19, 248, 0.8235294118);
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  .gridContainerFooter {
    width: 100%;
  }
}
/*    INDEX    INDEX    */
.gridContainerIndex {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-area: "Main" "LatestReleases" "NextDates";
}
.gridContainerIndex main {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-bottom: 50px;
  background-image: url("Imagenes/Fotodjs.png");
  background-size: cover;
}
.gridContainerIndex main .logoPrincipal {
  display: flex;
  justify-content: center;
}
.gridContainerIndex main .logoPrincipal img {
  height: 700px;
  padding-top: 100px;
}
.gridContainerIndex main .redesSociales {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-decoration: none;
  padding-top: 50px;
}
.gridContainerIndex main .redesSociales a i {
  color: gray;
  padding: 15px;
  transition: font-size 0.5s;
}
.gridContainerIndex main .redesSociales a i:hover {
  color: rgba(118, 19, 248, 0.8235294118);
  font-size: 60px;
}

/*    LATEST RELEASES SECTION    */
h2 {
  font-size: 30px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 50px;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.gridContainerIndex .latestReleasesSection {
  padding: 30px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(20, 18, 18);
}
.gridContainerIndex .latestReleasesSection .ultimosSencillos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.gridContainerIndex .latestReleasesSection .ultimosSencillos iframe {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  margin-top: 60px;
  border-radius: 12px;
  transition: all 0.5s;
}
.gridContainerIndex .latestReleasesSection .ultimosSencillos iframe:hover {
  height: 410px;
  width: 410px;
}
.gridContainerIndex .latestReleasesSection .contenedorBoton {
  display: flex;
  justify-content: center;
}
.gridContainerIndex .latestReleasesSection .contenedorBoton button {
  padding: 10px;
  margin-top: 50px;
  background-color: gray;
  border: 1px solid black;
  transition: all 0.5s;
}
.gridContainerIndex .latestReleasesSection .contenedorBoton button:hover {
  background-color: rgba(118, 19, 248, 0.8235294118);
}
.gridContainerIndex .latestReleasesSection .contenedorBoton button a {
  text-decoration: none;
  color: rgb(20, 18, 18);
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 768px) {
  .gridContainerIndex .latestReleasesSection .ultimosSencillos iframe {
    height: 250px;
    width: 260px;
    transition: all 0.5s;
  }
  .gridContainerIndex .latestReleasesSection .ultimosSencillos iframe:hover {
    height: 260px;
    width: 260px;
  }
}
@media screen and (max-width: 320px) {
  .gridContainerIndex .latestReleasesSection .ultimosSencillos iframe {
    height: auto;
    width: 250px;
  }
}
/*    NEXT DATES SECTION    */
.gridContainerIndex .nextDatesSection {
  padding: 50px;
  background-color: rgb(53, 51, 51);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gridContainerIndex .nextDatesSection .nextDatesDiv .fiestas {
  display: flex;
  flex-direction: column;
}
.gridContainerIndex .nextDatesSection .nextDatesDiv .fiestas li {
  color: white;
  margin: 40px;
  font-size: 25px;
}

@media screen and (max-width: 1200px) {
  .gridContainerIndex main .logoPrincipal img {
    height: 550px;
  }
}
@media screen and (max-width: 1024px) {
  .gridContainerIndex main .logoPrincipal img {
    height: 350px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .gridContainerIndex main .logoPrincipal img {
    height: 250px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 320px) {
  .gridContainerIndex main .logoPrincipal img {
    height: 150px;
    margin-top: 100px;
  }
}
/*-------------------------------------------------------    MUSIC    MUSIC    MUSIC    --------------------------------------------------------*/
.gridContainerMusic {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: "Releases";
}
.gridContainerMusic .musicReleases {
  background-color: rgb(53, 51, 51);
}
.gridContainerMusic .musicReleases div .tituloReleases {
  padding-top: 200px;
}
.gridContainerMusic .musicReleases .releases {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: center;
  justify-content: space-around;
}
.gridContainerMusic .musicReleases .releases iframe {
  height: 360px;
  width: 360px;
  padding: 40px;
  border-radius: 50px;
  transition: all 0.5s;
}
.gridContainerMusic .musicReleases .releases iframe:hover {
  height: 370px;
  width: 370px;
}

@media screen and (max-width: 1300px) {
  .gridContainerMusic .musicReleases .releases .ademasDeMi {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .gridContainerMusic .musicReleases .releases iframe {
    height: 300px;
    width: 300px;
    transition: 0.5s;
  }
  .gridContainerMusic .musicReleases .releases iframe:hover {
    height: 310px;
    width: 310px;
  }
}
@media screen and (max-width: 500px) {
  .gridContainerMusic .musicReleases .releases iframe {
    height: 280px;
    width: 280px;
    transition: 0.5s;
  }
  .gridContainerMusic .musicReleases .releases iframe:hover {
    height: 290px;
    width: 290px;
  }
}
@media screen and (max-width: 400px) {
  .gridContainerMusic .musicReleases .releases iframe {
    height: 240px;
    width: 240px;
    transition: 0.5s;
  }
  .gridContainerMusic .musicReleases .releases iframe:hover {
    height: 250px;
    width: 250px;
  }
}
/*-------------------------------------------------------    BIO    BIO    BIO    --------------------------------------------------------*/
.gridContainerBio {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: "Contenido";
}
.gridContainerBio .sectionBio {
  background-color: rgb(53, 51, 51);
  padding-top: 150px;
}
.gridContainerBio .sectionBio .divBio {
  display: flex;
  flex-wrap: nowrap;
}
.gridContainerBio .sectionBio .divBio img {
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
  transition: height 0.5s;
}
.gridContainerBio .sectionBio .divBio img :hover {
  height: 905px;
}
.gridContainerBio .sectionBio .divBio p {
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 80px;
  color: gray;
}

@media screen and (max-width: 1500px) {
  .gridContainerBio .sectionBio .divBio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gridContainerBio .sectionBio .divBio img {
    height: 700px;
  }
}
@media screen and (max-width: 768px) {
  .gridContainerBio .sectionBio .divBio img {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .gridContainerBio .sectionBio .divBio img {
    height: 400px;
  }
}
/*-------------------------------------------------------    MEDIA    MEDIA    MEDIA     --------------------------------------------------------*/
#carouselExampleCaptions {
  margin-top: 105px;
}

/*-------------------------------------------------------    BE PART    BE PART    BE PART     --------------------------------------------------------*/
.gridContainerFormulario {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: "Formulario";
}
.gridContainerFormulario .sectionFormulario {
  background-color: rgb(53, 51, 51);
  height: 100%;
}
.gridContainerFormulario .sectionFormulario .tituloFormulario {
  font-size: 35px;
  margin-top: 100px;
}
.gridContainerFormulario .sectionFormulario div {
  width: 500px;
  background-color: rgb(47, 87, 88);
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.gridContainerFormulario .sectionFormulario div h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.gridContainerFormulario .sectionFormulario div .controls {
  width: 96%;
  background-color: rgb(47, 87, 88);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 18px;
}
.gridContainerFormulario .sectionFormulario div textarea {
  width: 100%;
}
.gridContainerFormulario .sectionFormulario div p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.gridContainerFormulario .sectionFormulario div a {
  color: white;
  text-decoration: none;
}
.gridContainerFormulario .sectionFormulario div a:hover {
  color: white;
  text-decoration: underline;
}
.gridContainerFormulario .sectionFormulario div .buttons {
  width: 100%;
  background: rgba(118, 19, 248, 0.8235294118);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  transition: all 1s;
}
.gridContainerFormulario .sectionFormulario div .buttons:hover {
  background: rgb(118, 61, 184);
}

@media screen and (max-width: 1000px) {
  .gridContainerFormulario .sectionFormulario div {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .gridContainerFormulario .sectionFormulario div {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .gridContainerFormulario .tituloFormulario {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 320px) {
  .gridContainerIndex main .logoPrincipal img {
    height: 150px;
    margin-top: 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */
